body {
  font-family: verdana;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

/* Map */

.Map {
  height: 85vh;
  width: 100vw;
}

.map-container {
  height: 100%;
  width: 100%; 
  position: relative;
}

.map-button {
  position: absolute;
  top: 30px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the left position as needed */
  z-index: 2; /* Ensure the button appears above the map */
}